.wrapper {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

* {
  box-sizing: border-box; }

html {
  font-size: 100%; }

body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  background: #eee;
  text-align: center;
  font-family: 'Reenie Beanie', cursive; }

.header {
  width: 100%;
  float: left;
  background: linear-gradient(to bottom, #aad5e8 57%, #90c7e0 100%);
  font-size: .6em;
  top: 0;
  position: fixed; }
  .header #weatherIcon {
    padding: .75em;
    font-size: 6em;
    left: 0em;
    color: white;
    position: absolute; }
  .header #tempF {
    padding: .75em 1em;
    font-size: 6em;
    right: 0em;
    top: 0;
    color: white;
    position: absolute; }
  .header #tempIcon {
    display: none;
    padding: 4em 3em;
    font-size: 1em;
    right: 0em;
    top: 0;
    color: white;
    position: absolute; }
    .header #tempIcon span {
      font-family: 'Reenie Beanie', cursive;
      font-size: 50px;
      vertical-align: middle; }
  .header h2 {
    box-shadow: 0px 0px 8px 1px black;
    color: white;
    padding: 0.3em 0;
    margin-bottom: .1em;
    font-weight: 700;
    font-size: 10em; }
  .header a {
    color: #eee;
    font-size: 3em; }

.middle {
  width: 100%;
  float: left;
  padding-top: 8em; }

#modal_ul {
  display: none;
  color: #6d6d6d;
  width: 100%;
  position: absolute;
  font-size: 2em;
  font-family: verdana;
  text-align: left;
  background: #eee;
  padding: 1em;
  margin: 0em;
  height: 100%; }
  #modal_ul li {
    font-size: .75em;
    background-color: #eee;
    line-height: .9em;
    margin: 0 1em;
    padding: 1em; }

.infoModal {
  display: none;
  background-color: white;
  opacity: .5;
  position: absolute;
  bottom: 16em;
  right: 0;
  text-align: right;
  font-family: 'Geneva'; }
  .infoModal h3 {
    font-size: 3em;
    padding: .6em; }
  .infoModal li {
    padding: .3em;
    font-size: 1.5em;
    font-weight: 300; }
  .infoModal p {
    padding: .6em; }

#chatbox {
  padding: 0 1em 1em 1em;
  margin-bottom: 6em;
  overflow-y: auto;
  font-family: 'Geneva';
  text-decoration: none;
  font-size: 2em; }
  #chatbox .bot {
    float: left;
    display: inline-block;
    font-size: .9em;
    color: #6d6d6d;
    border-radius: 25px;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    margin-right: 50%;
    background-color: rgba(170, 213, 232, 0.5);
    text-align: left; }
  #chatbox .fourBot {
    font-family: 'Geneva';
    font-size: .5em; }
    #chatbox .fourBot a {
      text-decoration: none;
      color: #6d6d6d; }
  #chatbox .jamBot {
    font-family: 'Geneva';
    font-size: .5em; }
    #chatbox .jamBot a {
      text-decoration: none;
      color: #6d6d6d; }
  #chatbox .travBot {
    float: left;
    display: inline-block;
    font-family: 'Geneva';
    font-size: .9em;
    color: #6d6d6d;
    border-radius: 25px;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    margin-right: 50%;
    background-color: #aad5e8;
    text-align: left; }
  #chatbox .cityST {
    border-radius: 5%;
    border-bottom: 3px solid grey;
    background: none;
    display: inline-block;
    color: #6d6d6d;
    font-weight: 700;
    font-size: 1.1em; }
  #chatbox .weatherSum {
    background: none;
    display: inline-block;
    margin: 0;
    padding: 0 2em;
    color: #6d6d6d;
    font-size: .5em;
    font-weight: 300;
    text-align: left; }
  #chatbox .bro {
    float: right;
    display: inline-block;
    font-size: .9em;
    color: #515151;
    border-radius: 25px;
    padding: .5em;
    margin: .5em;
    margin-left: 50%;
    background-color: rgba(170, 213, 232, 0.5);
    text-align: right; }
  #chatbox .breweryResults, #chatbox .breweryAddress, #chatbox .brewDesc {
    border-radius: 5%;
    border-bottom: 3px solid grey;
    margin-bottom: .5em;
    padding: .5em;
    font-size: 1em;
    text-align: left;
    background: none; }
  #chatbox .breweryAddress {
    border: none;
    padding: 0 1em;
    font-size: .75em; }
  #chatbox .brewDesc {
    border: none;
    padding: 0 1.5em;
    font-size: .5em; }
    #chatbox .brewDesc a {
      text-decoration: none; }
      #chatbox .brewDesc a p {
        text-decoration: none;
        color: #6d6d6d; }

.footer {
  font-size: .6em;
  bottom: 0;
  height: 20em;
  width: 100%;
  background-color: #6d6d6d;
  position: fixed; }

.formInput {
  background-color: white;
  display: block;
  padding: 1em; }
  .formInput .userInput {
    width: 80%;
    font-size: 4em;
    border: none;
    color: #6d6d6d; }
    .formInput .userInput:focus {
      outline: none; }

.btm_buttons {
  padding: 2em 0em;
  border: none;
  box-shadow: 0px 1px 10px 0px black; }

#question {
  float: left;
  font-size: 4em;
  color: darkgrey;
  background: transparent;
  border: 2px dotted white;
  display: inline-block;
  padding: 0px 20px 0px 15px; }

#send {
  float: right;
  font-size: 3em;
  color: darkgrey;
  background: transparent;
  border: none;
  display: inline-block;
  padding: 5px 10px 0px 0px; }

.api {
  font-size: 9em;
  color: white;
  background: transparent;
  padding: 0.2em 0.2em;
  margin: -0.3em 0em;
  border: none; }
  .api i {
    padding: 0 8px; }

@media screen and (min-width: 1200px) {
  .header {
    font-size: .5em; }

  .footer {
    font-size: .5em;
    height: 18em; } }
@media screen and (min-width: 550px) and (max-width: 1200px) {
  .header {
    font-size: .5em; }

  .infoModal {
    font-size: .8em; }

  .footer {
    font-size: .6em; }

  .btm_buttons {
    font-size: .75em;
    padding: 4em 0em; } }
@media screen and (min-width: 380px) and (max-width: 550px) {
  .header {
    font-size: .5em; }

  .formInput .userInput {
    width: 60%; }

  .infoModal {
    font-size: .7em; }

  .footer {
    font-size: .5em; }

  .btm_buttons {
    font-size: .75em;
    padding: 4em 0em; } }
@media screen and (max-width: 380px) {
  .footer {
    height: 18em;
    font-size: .4em; }

  .infoModal {
    font-size: .6em; }

  .btm_buttons {
    font-size: .7em;
    padding: 4em 0em; } }

/*# sourceMappingURL=styles.css.map */
