* {
    box-sizing: border-box;
}

html{
  font-size: 100%;
}

body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  background: #eee;
  text-align: center;
  font-family: 'Reenie Beanie', cursive;
}

.header{
  width: 100%;
  height: 250px;
  background-color: #adbce6;
  display: block;
  top: 0;
  position: fixed;
  #weatherIcon{
    padding: .75em;
    font-size: 100px;
    left: 0em;
    color: white;
    position: absolute;
  }
  #tempF{
    padding: .75em 1em;
    font-size: 100px;
    right: 0em;
    top: 0;
    color: white;
    position: absolute;
  }
  #tempIcon{
    display: none;
    padding: 4em 3em;
    font-size: 20px;
    right: 0em;
    top: 0;
    color: white;
    position: absolute;
    span{
      font-family: 'Reenie Beanie', cursive;
      font-size: 50px;
      vertical-align: middle;
    }
  }
  h2{
    color: white;
    margin-top: 0.3em;
    font-weight: 700;
    font-size: 10em;
  }
  a{
    color: #eee;
    font-size: 3em;
  }
}





.middle{
  margin: 300px 0 350px;
}
#modal_ul{
  display: none;
  color: #6d6d6d;
  width: 100%;
  position: absolute;
  font-size: 2.5em;
  font-family: verdana;
  text-align: left;
  background: #adbce6;
  padding: 3em 1em;
  margin: 0em;
  height: 100%;
  line-height: 2em;
  li{
    background-color:#d4dcf2;
    line-height: 1em;
    margin: 1em;
    padding: 1em;
  }
}
#chatbox{
  font-family: arial;
  font-size: 3em;
  margin: .5em;
  .bot{
    color: #6d6d6d;
    border-radius: 25px;
    padding: .5em;
    margin: .5em;
    margin-right: 2em;
    background-color: #d4dcf2;
    text-align: left;
  }
  .bro{
    color: #6d6d6d;
    border-radius: 25px;
    padding: .5em;
    margin: .5em;
    margin-left: 2em;
    background-color: #d4dcf2;
    text-align: right;
  }
}






.footer{
  bottom: 0;
  height: 300px;
  width: 100%;
  background-color: grey;
  display: block;
  position: fixed;
}
.formInput{
  background-color: white;
  display: block;
  padding: 1em;
  .userInput{
    width: 80%;
    font-size: 4em;
    border: none;
    color: #6d6d6d;
    &:focus{
      outline: none;
    }
  }
}

//BUTTONS
.btm_buttons{
  margin: 1.5em;
  border: none;
}
#question{
  float: left;
  font-size: 4em;
  color: darkgrey;
  background: transparent;
  border: 2px dotted white;
  display: inline-block;
  padding: 0px 20px 0px 15px;
}
#send{
  float: right;
  font-size: 4em;
  color: darkgrey;
  background: transparent;
  border: none;
  display: inline-block;
  padding: 5px 10px 0px 0px;
    }

.api{
  font-size: 9em;
  color: white;
  background: transparent;
  padding: 0.2em 0.2em;
  margin: -0.3em 0em;
  border: none;
  i {
    padding: 0 8px;
  }
}
